<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>

<form method="post" action="#" th:action="@{/register}">
    <!--<form method="post" action="#" th:action="@{/register}" th:object="${newuser}">-->

    <div class="card card-plain">
        <div class="content">
            <div class="form-group">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> First Name  error </span> </strong></mark>
                <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> Last Name  error </span> </strong></mark>
                <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> User Name  error </span></strong></mark>
                <input type="text" id="userName" placeholder="userName" th:field="*{username}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> User Name  error </span></strong></mark>
                <input type="text" id="email" placeholder="email" th:field="*{email}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> password  error </span> </strong></mark>
                <input type="text" id="password" placeholder="password" th:field="*{password}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('englang')}" th:errors="*{englang}"> English Language  error </span> </strong></mark>
                <input type="text" id="englang" placeholder="englang" th:field="*{englang}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('employment')}" th:errors="*{employment}"> English Language  error </span> </strong></mark>
                <input type="radio" id="employment" placeholder="employment" th:field="*{employment}"/><br/>
            </div>




            <div class="col-md-5 col-sm-5">

                <h6>English Language <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Yes
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Some
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>No
                </label>

            </div>






        </div>
        <div class="footer text-center">
            <button type="submit" class="btn btn-fill btn-danger btn-wd">Register</button>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>





