<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>

<form method="post" action="#" th:action="@{/}" th:object="${stu}">
    <!--<form method="post" action="#" th:action="@{/register}" th:object="${newuser}">-->

    <div class="card card-plain">
        <div class="content">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> First Name  error </span> </strong></mark>
                <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> Last Name  error </span> </strong></mark>
                <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br/>
            </div>
            <div class="form-group">
                <span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"> User Name  error </span></strong></mark>
                <input type="text" id="userEmail" placeholder="userName" th:field="*{userEmail}"/><br/>
            </div>

            <div class="form-group">
                <span th:if="${#fields.hasErrors('appPassword')}" th:errors="*{appPassword}"> password  error </span> </strong></mark>
                <input type="text" id="password" placeholder="password" th:field="*{appPassword}"/><br/>
            </div>


            <div class="form-group">
                <span th:if="${#fields.hasErrors('englishLang')}" th:errors="*{englishLang}"> English Lang  error </span></strong></mark>

                <h6>English Language <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{englishLang}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Yes
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{englishLang}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Some
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{englishLang}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>No
                </label>
            </div>


            <div class="form-group">
                <span th:if="${#fields.hasErrors('employment')}" th:errors="*{employment}"> Employement  error </span></strong></mark>

                <h6>Employment Status <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{employment}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Unemployed
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{employment}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Underemployed
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{employment}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>Fully Employed
                </label>
            </div>



            <div class="form-group">
                <span th:if="${#fields.hasErrors('computerSkill')}" th:errors="*{computerSkill}">   Computer skills error </span></strong></mark>

                <h6>Comfort with computer <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{computerSkill}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Low
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{computerSkill}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Medium
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{computerSkill}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>High
                </label>
            </div>


            <div class="form-group">
                <span th:if="${#fields.hasErrors('itInterest')}" th:errors="*{itInterest}"> It interest  error </span></strong></mark>

                <h6>IT Interest <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{itInterest}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Low
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{itInterest}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Medium
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{itInterest}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>High
                </label>
            </div>



            <div class="form-group">
                <span th:if="${#fields.hasErrors('Education')}" th:errors="*{Education}"> Education  error </span></strong></mark>

                <h6>Education <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{Education}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>NO Highshool diploma/GED
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{Education}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Highschool diploma/GED
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{Education}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>Some College
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{Education}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>4 Year degree
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{Education}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>Postgraduate Experience
                </label>
            </div>

            <div class="form-group">
                <span th:if="${#fields.hasErrors('majorCS')}" th:errors="*{majorCS}"> Error in Major </span></strong></mark>

                <h6>Major in Computer Science  <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{majorCS}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Yes
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{majorCS}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>No
                </label>

            </div>

            <div class="form-group">
                <span th:if="${#fields.hasErrors('legalUS')}" th:errors="*{legalUS}"> Error in legal status </span></strong></mark>

                <h6>US Legal  <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{legalUS}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Yes
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{legalUS}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>No
                </label>

            </div>


            <div class="form-group">
                <span th:if="${#fields.hasErrors('oopUnderstanding')}" th:errors="*{oopUnderstanding}"> OOP  error </span></strong></mark>

                <h6>OOP Understanding <span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{oopUnderstanding}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Low
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{oopUnderstanding}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Medium
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{oopUnderstanding}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>High
                </label>
            </div>



            <div class="form-group">
                <span th:if="${#fields.hasErrors('oopUnderstanding')}" th:errors="*{oolExperience}"> OOL  error </span></strong></mark>

                <h6>OOL Experience<span class="icon-danger">*</span></h6>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{oolExperience}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1" checked="">
                    <i></i>Low
                </label>
                <label class="radio">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{oolExperience}" name="optionsRadios" data-toggle="radio" id="optionsRadios1" value="option1">
                    <i></i>Medium
                </label>
                <label class="radio checked">
                    <span class="icons"><span class="first-icon fa fa-circle-o fa-base"></span><span class="second-icon fa fa-dot-circle-o fa-base"></span></span><input type="radio" th:field="*{oolExperience}" name="optionsRadios" data-toggle="radio" id="optionsRadios2" value="option1" >
                    <i></i>High
                </label>
            </div>

            <div class="form-group">
                <span th:if="${#fields.hasErrors('gradYear')}" th:errors="*{gradYear}"> graduation year  error </span> </strong></mark>
                <input type="number" id="gradYear" placeholder="Graduation year" th:field="*{gradYear}"/><br/>
            </div>

            <div class="form-group">
                <span th:if="${#fields.hasErrors('currentEarning')}" th:errors="*{currentEarning}"> current Earning error </span> </strong></mark>
                <input type="number" id="earning" placeholder="current earning" th:field="*{currentEarning}"/><br/>
            </div>

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-fill btn-danger btn-wd">Register</button>
        </div>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>





