<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<p>
    Dear <span th:text="|${fname} ${lname}|" ></span>,
</p>


<p>

    Congratulations on your admission to the <span th:text="${pname}"></span> program.
    Please return to the Program website and and accept your admission if you are still interested in joining the program.
    We look forward to your participation. <em>Have a nice day!</em>
</p>
<p>
    Sincerely,
    <br/>
    Brandon.
</p>
<p>﻿

    --<br/>
    <em>Brandon Hammiller</em><br/>
    Program director at Montgomery Community College.<br/>

</p>
</body>
</html>