<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<div th:replace="base :: BARheader"></div>
<body class="about-us">

<div th:replace="base :: BARnav"></div>
<!-- wrapper ---->
<div class="wrapper">
    <div class="main">
        <div class="section section-nude">
            <div class="container" >
                <div class="ririheight">
                    <h3 class="title-uppercase">Our Programmes</h3>


                    <ul th:each="showpro : ${showprogs}">
                        <h5 th:inline="text">[[${showpro.programName}]]</h5>
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/listapplied/{id} (id = ${showpro.id})}" th:inline="text"> Number of Applicants : [[${showpro.numberApplicants}]]</a>
                        <br />
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/listprogramaccepted/{id} (id = ${showpro.id})}" th:inline="text"> Number of Accepted : [[${showpro.numberAccepted}]]</a>

                        <p th:inline="text">[[${showpro.programDescription}]]</p>

                    </ul>
                </div>
            </div></div></div>

</div>
<div th:replace="base :: BARfooter"></div>



</body>


</html>