<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<div th:replace="base :: BARheader"></div>
<body class="about-us">

<div th:replace="base :: BARnav"></div>
<!-- wrapper ---->
<div class="wrapper">
    <div class="main">
        <div class="section section-nude">
            <div class="container" >
                <div class="ririheight">
                <h3 class="title-uppercase">Our Programmes</h3>

    <ul th:each="lists : ${programlist}">
        <li th:text="${lists.programName}">

    </li>
    <lablel>Criterias description:  </lablel>
    <li th:text="${lists.criteriaDescription}">

    </li>
    <label>English language </label>
    <li th:text="${lists.englishLang}">

    </li>
        <li th:text="${lists.majorCS}"></li>


    <lable>legal to USA :</lable>
    <li th:text="${lists.legalUS}"></li>

    <a th:href="@{/applyforaprogram/{id} (id = ${lists.id})}">Apply</a>

</ul>
                </div>
            </div></div></div>

</div>
<div th:replace="base :: BARfooter"></div>



</body>


</html>