<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<div th:replace="base :: BARheader"></div>
<body class="about-us">

<div th:replace="base :: BARnav"></div>
<!-- wrapper ---->
<div class="wrapper">
    <div class="main">
        <div class="section section-nude">
            <div class="container" >
                <div class="ririheight">
                <h3 class="title-uppercase">Our Programmes</h3>

    <ul th:each="lists : ${programlist}">
        <h5 th:inline="text" style="color: #3c763d;">[[${lists.programName}]]</h5>

    </li>
    <h6> Criteria for the program </h6>
    <p th:text="${lists.criteriaDescription}">

    </p>

    <a th:href="@{/applyforaprogram/{id} (id = ${lists.id})}">Apply</a>

</ul>
                </div>
            </div></div></div>

</div>
<div th:replace="base :: BARfooter"></div>



</body>


</html>