<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<div th:replace="base :: BARheader"></div>
<body class="about-us">

<div th:replace="base :: BARnav"></div>
<!-- wrapper ---->
<div class="wrapper">
    <div class="main">
        <div class="section section-nude">
            <div class="container" >
                <div class="ririheight">
                    <h3 class="title-uppercase">Suggested Programmes for you</h3>

                    <ul th:each="suggest : ${listprograms}">
                        <li th:text="${suggest.getProgramName()}"></li>

                    <a th:href="@{/applyforaprogram/{id} (id = ${suggest.id})}">Apply</a>
                    </ul>
                </div>
            </div></div></div>

</div>
<div th:replace="base :: BARfooter"></div>



</body>


</html>